.container {
    margin: 20px 0 0 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 40px 20px 40px;

    border-radius: 14px;
    box-shadow: 1px 1px 20px 2px rgba(147, 152, 159, 0.2);

    width: fit-content;
    height: fit-content;

    font-size: 20px;
}

.green {
    color: green;
}