.container {
    display: flex;
    text-align: left;
    gap: 10px;
    padding: 10px;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.card {
    width: 280px;
    height: 380px;
    padding: 20px;
    border-radius: 12px;

    background-image: url("villa.jpg");
    background-size: cover;

    filter: brightness(1.07);
    transition: all 0.5s;
}

/* 동적 효과 */
.card:hover {
    filter: brightness(0.95);
}

.contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

/* text-decoration */
.category {
    font-family: "yg-jalnan";
    font-size: 20px;

    /* text-decoration: underline; */
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    width: fit-content;
}

.title {
    font-family: "yg-jalnan";
    font-size: 30px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.desc {
    font-size: 18px;
}