body {
  /* background-color: pink; */

  /* 자식 요소 가운데 놓기 */
  display: flex;
  /* view-height / width */
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mini {
  color: skyblue;
}

.large {
  text-align: center;
}

.medium {
  text-align: center;
  color: #888888;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 230px;
  height: 50px;

  font-weight: bold;
  text-align: center;

  border: 3px solid #dbdbdb;
  border-radius: 10px;

  padding-top: 20px;
  padding-bottom: 20px;
}

.apple {
  background-color: white;
  color: black;
}

.google {
  background-color: black;
  color: white;
}

.icon {
  display: flex;
  align-items: center;
  font-size: 40px;
}

.download {
  display: flex;
  gap: 10px;
}
